*
!.gitignore
!sduct.vtk
!test.ctl
!test_geobjq.vtk
!test_geoptq.vtk
!test_geopt.vtk
!testhds.ctl
!testhds_geobjq.vtk
!testhds_geoptq.vtk
!testhds_hdsgen.out
!testhds_hds.hds
!testhds_hdsm.vtk
!testhds_hdsq.vtk
!testhds.log
!test_hdsm.vtk
!test.log
!test_move.out
!test_movq.vtk
!test_movx.vtk
