*
!.gitignore
!buil.bash
!cmdwrap
!geoselmenu.txt
!helpgeo.txt
!helptop.txt
!morehelpgeo.txt
!morehelptop.txt
!topselmenu.txt
!tfmenu.txt
!chkctl.txt
!chkinp.txt
!menu.bash
!skel_R.ctl
!help_R.txt
!skel_HDS.ctl
!skel_SHAD.ctl
!rmove.bash
!skel_MOVedgprof.ctl
!skel_MOV.lis
!skel_MOVodes.ctl
!skel_MOVstart.ctl
!skel_MOVtermplane.ctl
!smint.bash
!sminthelp.bash
