*
!bsplvn.f
!bvalue.f
!cfftb1.f
!cfftf1.f
!cffti1.f
!interu.f
!interv.f
!isnumb.f
!isort.f
!lowor.f
!makefile
!msrect.f
!passb2.f
!passb3.f
!passb4.f
!passb5.f
!passb.f
!passf2.f
!passf3.f
!passf4.f
!passf5.f
!passf.f
!randlx.f
!README
!spleval.f
!stivtk.f
!tb06a.f
!tc01a.f
!tg03a.f
!tg04a.f
!zfftb.f
!zfftf.f
!zffti.f
!.gitignore
!bsplwn.f
!interw.f
