*
!.gitignore
!chmodx
!notes.txt
!obj2stl.ed
!obj2vtk
!obj2vtk.ed
!setup
!spacomma.ed
!stl2vtk
!stl2vtk.ed
!tidyext.ed
!trlength.ed
!trtognu.ed
!vtkpng
!vtkpngcl
!vtkpngcl_skel.py
!vtkpng.ed
!vtkpng_skel.py
!obj2stl
!equ.ed
!scen2.ed
